<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riju Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>

    <header>
        <a href="" class="brand" data-aos="zoom-in" data-aos-duration="1000">Portfolio</a>
        <div class="menu-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="navigation">
            <a href="#main" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">Home</a>
            <a href="#about" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">About</a>
            <a href="#skills" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Skills</a>
            <a href="#education" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Education</a>
            <a href="#work" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">Work</a>
            <a href="#contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">Contact</a>
        </div>
    </header>

    <section class="main" id="main">
        <div class="content">
            <h2 data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="800">
                HELLO, I'M <br><span>RIJUMON ROY</span>
            </h2>
            <div class="animated-text" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="900">
                <h3>Web Developer</h3>
                <h3>Web Designer</h3>
                <h3>Programmer</h3>
            </div>
            <a href="/view_resume" class="btn" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="1000">View My Resume</a>
            <div class="media-icons">
                <a href="https://www.linkedin.com/in/rijumon-roy-673559305/" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1200">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.instagram.com/_riju_roy_/?hl=en" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1300">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://x.com/RijuRoy67985042" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1400">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/rijuroy21" inj data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1500">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="title reveal">
            <h2 class="section-title" data-aos="fade-up" data-aos-duration="1000">About me</h2>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <div class="img-card" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="200">
                    <img src="{{ url_for('static', filename='images/1720680789232_D-867 (1).jpg') }}" alt="">
                </div>
            </div>
            <div class="column col-right reveal">
                <h2 class="content-title" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">Hey There! I am Rijumon Roy</h2>
                <p class="paragraph-text" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="400">
                    I’m a passionate Python Full Stack Web Developer with a strong foundation in both front-end and back-end development. With a Diploma in Computer Engineering, I ventured into web development where I discovered my true passion — crafting seamless, scalable, and performance-oriented web solutions.
                    <br><br>
                    I specialize in building complete digital products using modern technologies like Django, React, and Bootstrap. Whether it's an e-commerce site, admin dashboard, or a custom web tool, I approach every project with clean code, smart architecture, and a user-first mindset.
                    <br><br>
                    My journey is fueled by curiosity and a drive to keep learning. I love solving real-world problems through code and thrive in collaborative environments where ideas turn into impactful products. Let’s connect and build something great together!.
                </p>
            </div>
        </div>
    </section>

    <section class="skills" id="skills">
        <div class="title">
            <h2 class="section-title" data-aos="fade-up" data-aos-duration="1000">My Skills</h2>
        </div>
        <div class="content">
            <div class="column col-left">
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="100">
                        <span>HTML</span>
                        <span>95%</span>
                    </div>
                    <div class="line html" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="140"></div>
                </div>
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="200">
                        <span>CSS</span>
                        <span>90%</span>
                    </div>
                    <div class="line css" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="240"></div>
                </div>
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300">
                        <span>JavaScript</span>
                        <span>80%</span>
                    </div>
                    <div class="line javascript" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="340"></div>
                </div>
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="400">
                        <span>Bootstrap</span>
                        <span>90%</span>
                    </div>
                    <div class="line bootstrap" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="440"></div>
                </div>
            </div>

            <div class="column col-right">
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="100">
                        <span>Python</span>
                        <span>85%</span>
                    </div>
                    <div class="line python" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="140"></div>
                </div>
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="200">
                        <span>Django</span>
                        <span>85%</span>
                    </div>
                    <div class="line django" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="240"></div>
                </div>
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300">
                        <span>React</span>
                        <span>75%</span>
                    </div>
                    <div class="line react" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="340"></div>
                </div>
                <div class="bar">
                    <div class="info" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="500">
                        <span>Git</span>
                        <span>80%</span>
                    </div>
                    <div class="line git" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="540"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="education" id="education">
        <div class="title">
            <h2 class="section-title" data-aos="fade-up" data-aos-duration="1000">My Education</h2>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                A brief overview of my academic background, highlighting my journey through technical and formal education.
            </p>
        </div>
        <div class="content">
            <div class="card" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
                <div class="service-icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <div class="info">
                    <h3>Diploma in Computer Engineering</h3>
                    <p>2022 – 2024<br>
                        Model Polytechnic College, Mattakara, Kottayam</p>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="service-icon">
                    <i class="fas fa-user-graduate"></i>
                </div>
                <div class="info">
                    <h3>Higher Secondary Education</h3>
                    <p>2019 – 2021<br>
                        MGM NSS HSS, Lakkattoor, Kottayam</p>
                </div>
            </div>
            <div class="card" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
                <div class="service-icon">
                    <i class="fas fa-school"></i>
                </div>
                <div class="info">
                    <h3>High School</h3>
                    <p>2018 – 2019<br>
                        St. Joseph HS, Mattakkara, Kottayam</p>
                </div>
            </div>
        </div>
    </section>

    <section class="work" id="work">
        <div class="title">
            <h2 class="section-title" data-aos="fade-up" data-aos-duration="1000">My Work</h2>
        </div>
        <div class="content">
            <div class="card" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <a href="https://github.com/rijuroy21/e_commerce.git" target="_blank">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='images/ecom.png') }}" alt="E-Commerce Project">
                    </div>
                    <div class="info">
                        <h3>E-Commerce</h3>
                        <p>Project 1</p>
                    </div>
                </a>
            </div>

            <div class="card" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                <a href="https://github.com/rijuroy21/bookmyshow.git" target="_blank">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='images/bookmyshownew.jpeg') }}" alt="Bookmyshow Clone">
                    </div>
                    <div class="info">
                        <h3>Bookmyshow Clone</h3>
                        <p>Project 2</p>
                    </div>
                </a>
            </div>

            <div class="card" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
                <a href="https://github.com/rijuroy21/appleclone.git" target="_blank">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='images/applenew.png') }}" alt="Apple Clone">
                    </div>
                    <div class="info">
                        <h3>Apple Clone</h3>
                        <p>Project 3</p>
                    </div>
                </a>
            </div>

            <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <a href="https://github.com/rijuroy21/designers" target="_blank">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='images/design.png') }}" alt="Weather API">
                    </div>
                    <div class="info">
                        <h3>Hire Freelancer</h3>
                        <p>Project 4</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="title reveal">
            <h2 class="section-title">Contact Me</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="card reveal">
                    <div class="contact-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="info">
                        <h3>Address</h3>
                        <span>Thevarmalayil, Lakkattoor P.O, Kottayam</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon"><i class="fas fa-phone"></i></div>
                    <div class="info">
                        <h3>Phone</h3>
                        <span>+91 8590658674</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon"><i class="fas fa-envelope"></i></div>
                    <div class="info">
                        <h3>Email Address</h3>
                        <span>rijumonroy@gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="contact-form reveal">
                    <h3>Send Message</h3>
                    <form action="/submit" method="POST">
                        <div class="input-box">
                            <input type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="input-box">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="input-box">
                            <input type="text" name="subject" placeholder="Subject" required>
                        </div>
                        <div class="input-box">
                            <textarea name="message" rows="8" placeholder="Message" required></textarea>
                        </div>
                        <div class="input-box">
                            <input type="submit" class="send-btn" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <span class="footer-title">Rijumon Roy</span>
        <p>© 2025 Rijumon Roy. All Rights Reserved.</p>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({ offset: 0 });

        const scrollBtn = document.createElement('div');
        scrollBtn.classList.add('scrollToTop-btn');
        scrollBtn.innerHTML = '<i class="fas fa-arrow-up"></i>';
        document.body.appendChild(scrollBtn);

        scrollBtn.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        window.addEventListener("scroll", function () {
            scrollBtn.classList.toggle("active", window.scrollY > 500);
        });

        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active");
            navigation.classList.toggle("active");
        });

        const navigationItems = document.querySelectorAll(".navigation a");
        navigationItems.forEach((navigationItem) => {
            navigationItem.addEventListener("click", () => {
                menuBtn.classList.remove("active");
                navigation.classList.remove("active");
            });
        });

        window.addEventListener("scroll", function () {
            const header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        });
    </script>
</body>

</html>